.header {
    text-align: center;
}

.row {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.col-size {
    width: 170px;
    text-align: left;
}
.col {
    margin-top: 15px;
}

.col.btn{
    text-align :center;
}
.pengiriman-title{
    margin-top: 15px;
}
.form-size{
    margin-top: 10px;
}
.checkbox-inline {
    margin-right: 5px;
}

.inputUkuran {
    margin-right: 10px;
    width: 65px;
}

.inputUkuranTable {
    width: 40px;
}

#inputKeterangan {
    overflow: scroll;
}

.btn:hover{
    cursor: pointer;
}
.tag-ukuran{
    width : 80px;
    display: inline-block;
}

.center{
    text-align: center;
}

.label-warna{
    display:inline-block;
    color: blueviolet;
}
.form-control{
    display: inline-block;
}
.success-save-text{
    text-align: center;
}

label.has-error{
    color:rgb(241, 70, 70);
}
label.has-success{
    color:rgb(80, 167, 99);
}

input.has-error{
    border: 1px solid rgb(241, 70, 70);
}
input.has-success{
    border:1px solid rgb(80, 167, 99);
}
select.has-error{
    border: 1px solid rgb(241, 70, 70);
}
select.has-success{
    border:1px solid rgb(80, 167, 99);
}
.error-message{
    margin-top: 2px;
    color:rgb(241, 70, 70);
    font-size: 10pt;
}
.input-message{
    margin-top: 2px;
    color:rgb(63, 165, 224);
    font-size: 10pt;
}

.form-control{
    margin-right: 4px;
}
.hapus{
    max-height: 40px;
}
label.col-3{
    min-width:150px;
    max-width:150px;
}