.header {
    text-align: center;
}

.row-process:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: auto;
}
.col-process {
    float: left;
    border: 1px solid white;
    padding-bottom: 5px;
    text-align: center;
    height: auto;
    width :11%;
    min-width: 100px;
}
.table-container{
    overflow: scroll;
}

.table-title {
    background-color: aquamarine;
    text-align: center;
    height: 50px;
    margin-bottom : 8px;
}


.box-process {
    border: 1px solid rgb(158, 158, 158);
    text-align: center;
    font-size: 14px;
    height: auto;
    width :100%;
    padding: 2px;
    border-radius: 5%;
    margin-bottom: 3px;
}

.namaInfo {
    color: maroon;
}
button.detail {
    width:57px;
    border-radius: 5pt;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
button.next{
    width:57px;
    border-radius: 5pt;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.text-jumlah{
    padding:5px;
    margin-bottom :15px;
}