.header {
    text-align: center;
}

.row-process:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: auto;
}
.col-process {
    float: left;
    padding:0px;
    padding-bottom: 5px;
    text-align: center;
    min-height: 450px;
    width :11%;
    min-width: 100px;
    border:1px solid rgb(255, 255, 255);
    border-left:0.5px solid rgb(255, 255, 255);
    border-right:0.5px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.table-title {
    text-align: center;
    height: 50px;
    border-bottom:2px solid rgb(219, 219, 219);
    margin:0px;
    margin-bottom : 3px;
    background: rgb(223, 223, 223);
}


.box-process {
    text-align: center;
    font-size: 14px;
    height: auto;
    width :97%;
    border-radius: 5%;
    margin:2px;
}
.namaInfo {
    color: maroon;
}
button.detail {
    width:57px;
    border-radius: 5px;
    margin-top :10px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    color:rgb(0, 89, 255);
}
button.next{
    margin-top :10px;
    width:57px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(27, 141, 27);
}
button.done{
    margin-top :10px;
    width:57px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.text-jumlah{
    font-size: 10pt;
    padding-bottom: 5px;
}
p {
    margin :2px;
    padding :0px;
}
#date_today{
    margin-left :12px;
}
.success-save-text{
    text-align: center;
}
h3{
    margin-left:12px;
}
.btn:hover{
    cursor:pointer;
}
button:hover{
    cursor:pointer;
}
.center{
    text-align: center;
}

.search-form{
    margin-top:25px;
    margin-bottom: 30px;
}
#inputSearch{
    width:300px;
}
#not-found{
    margin-bottom:25px;
}

.test:after {
    content: '\2807';
    font-size: 18px;
    color:grey;
}
.box-process:hover{
    cursor: context-menu;
}
.jenisproduk{
    font-size: 10pt;
}
#new-order{
    background-color:lightblue;
    height:40px;
    margin :15px;
}
.right{
    text-align: right;
}
.searchbutton{
    width:127px;
}
.namakonsumen {
    font-family: Impact;
    font-size: 11pt;
    margin-right: 2px;
    margin-left: 2px;
}
a.nav-link:hover{
    cursor: pointer;
}
.container-history{
    margin-left:10%;
    margin-bottom:10px;
}
.clickable:hover{
    cursor: pointer;
}
#navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-right:0px;
}
#history{
    margin-top:30px;
}
.kode_artikel:hover{
    color: deepskyblue;
    cursor: pointer;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.left{
    text-align: left;
}
.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
