.header {
    text-align: center;
}

.row {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.col-size {
    width: 170px;
    text-align: left;
}
.col {
    margin-top: 15px;
}

.col.btn{
    text-align :center;
}
.pengiriman-title{
    margin-top: 15px;
}
.form-size{
    margin-top: 10px;
}
.checkbox-inline {
    margin-right: 5px;
}

.inputUkuran {
    margin-right: 10px;
    width: 65px;
}

.inputUkuranTable {
    width: 40px;
}

#inputKeterangan {
    overflow: scroll;
}

.btn:hover{
    cursor: pointer;
}
.tag-ukuran{
    width : 80px;
    display: inline-block;
}

.center{
    text-align: center;
}

.label-warna{
    display:inline-block;
    color: blueviolet;
}
.form-control{
    display: inline-block;
}
