.header {
    text-align: center;
}

.row {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;

}

.container {
    margin: 5px auto;
}
.col {
    border: 1px solid black;
    padding-bottom: 5px;
    text-align: center;
    height: auto;
    width: 100px;
}

.table-container{
    overflow: scroll;
}

.table-title {
    background-color: aquamarine;
    text-align: center;
    margin: 5px 0px 5px 0px;
    height: 50px;
}

.box-pink {
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    height: auto;
    width: 100px;
    padding: 2px;
    background-color: pink;
    border-radius: 5%;
    margin-bottom: 3px;
}

.box-orange {
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    height: auto;
    width: 100px;
    padding: 2px;
    background-color: rgba(255, 141, 100, 0.89);
    border-radius: 5%;
    margin-bottom: 3px;
}

.box-green {
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    height: auto;
    width: 100px;
    padding: 2px;
    background-color: lightgreen;
    border-radius: 5%;
    margin-bottom: 3px;
}

.namaInfo {
    color: maroon;
}
